<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!notes"><em>Loading...</em></p>
<input type="text" id="note-text" [(ngModel)]="note.text" />
<input type="date" id="note-date" [(ngModel)]="note.dateDue" />
<select name="note-type" id="note-type" [(ngModel)]="note.noteType">
  <option value="note">Note</option>
  <option value="task">Task</option>
  <option value="event">Event</option>
</select>
<button class="btn btn-primary" (click)="postNote()">submit</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="notes">
  <thead>
    <tr>
      <th>Type</th>
      <th>DateCreated</th>
      <th>Text</th>
      <th>DateDue</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes">
      <td [class.completed]="note.isCompleted" (click)="toggleCompletion(note)">{{note.noteType}}</td>
      <td>{{ note.dateCreated  | date:'medium' }}</td>
      <td [ngSwitch]="(note === selectedNote)">
        <editable
          *ngSwitchCase="true"
          [type]="'text'"
		  [value]="note.text"
		  (textChange)="updateText( note, $event )"
		  (cancel)="cancelEdit()">

        </editable>
        <div *ngSwitchCase="false" (click)="selectNote(note)">{{note.text}}</div>
      </td>
      <td [ngSwitch]="(note === selectedNote)">
        <editable
          *ngSwitchCase="true"
          [type]="'date'"
		  [value]="note.dateDue"
		  (dateChange)="updateDate( note, $event )"
		  (cancel)="cancelEdit()">

        </editable>
        <div *ngSwitchCase="false" (click)="selectNote(note)">
          {{ note.dateDue | date }}
        </div>

      </td>
      <td><button class="btn" (click)="deleteNote(note)">delete</button></td>
    </tr>
  </tbody>
</table>
