<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!notes"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="notes">
  <thead>
    <tr>
      <th>DateCreated</th>
      <th>Text</th>
      <th>DateDue</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes">
      <td>{{ note.dateCreated }}</td>
      <td>{{ note.text }}</td>
      <td>{{ note.dateDue }}</td>
    </tr>
  </tbody>
</table>
