<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!notes"><em>Loading...</em></p>
<input type="text" id="note-text" [(ngModel)]="note.text" />
<input type="date" id="note-date" [(ngModel)]="note.dateDue" />
<button class="btn btn-primary" (click)="postNote()">submit</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="notes">
  <thead>
    <tr>
      <th>DateCreated</th>
      <th>Text</th>
      <th>DateDue</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes">
      <td>{{ note.dateCreated  | date:'medium' }}</td>
      <td>{{ note.text }}</td>
      <td>{{ note.dateDue | date }}</td>
      <td><button class="btn" (click)="deleteNote(note)">delete</button></td>
    </tr>
  </tbody>
</table>
